<div class="columns-container">
    <div class="columns is-centered has-text-centered mt-5">
        <ul>
            <li><div class="column title is-size-3 mt-5 pt-5">Sign in</div></li>
            <li><div id="sign-in-form" class="column is-size-5"><%= render partial: 'new_session' %></div></li>
        </ul>
    </div>
</div>