<div class="columns-container">
    <div class="columns is-centered has-text-centered m-0">
        <ul>
            <li><div class="column title is-size-3">Sign in</div></li>
            <li><div id="sign-in-form" class="column is-size-3"><%= render partial: 'new_session' %></div></li>
        </ul>
    </div>
</div>