// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.columns-container {
    position: absolute;
    left: 0;
    top: 25%;
    right: 0;
    bottom: 0;
}

.index-events {
    padding-left: 20%;
    padding-right: 20%;
}