// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.columns-container {
    position: absolute;
    left: 0;
    top: 25%;
    right: 0;
    bottom: 0;
}

#index-event-list {
    display: flex;
    overflow-x: scroll;
}

#index-event-cards {
    display: flex;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}